body{

    background-color: rgb(95, 181, 218);
    height: 200%;
}

.imglogo{
    height: 100px;
    width: 100px;
}

.buscador{
    margin-top: 35px;
}

.form{

font-size: 20px;
}

.barra{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-top: 35px;
}

a {
    
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

li{
    margin-right: 20px;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(139, 139, 213);
    border-radius: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.padre{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(166, 215, 180);
    text-align: left;
    flex-direction: column;
    margin-bottom: 120px;
}



.img{
    height: 350px;
    width: 100%;
}

.titulo-section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-left: 600px;
    justify-content: flex-start;
    
}

.hijo1{
    background-color: rgb(113, 188, 221);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
}

.padreitems{

    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

.hijo2{
    background-color: rgb(113, 188, 221);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
    
}

.hijo3{
    background-color: rgb(113, 188, 221);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
}

.item{
    background-color: rgb(173, 169, 169);

}

.titulopelicula {

font-size: 25px;
margin-left: 35px;

}

.fechapelicula{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 20px;
}

.pelas{

width: 200px;

}

.pelashtml{

   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}

.pelasdiv {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
 }

 .sinopsis{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
 }

 .generosection{
display: flex;
justify-content: center;
flex-direction: column;
background-color: rgb(166, 215, 180);
margin-bottom: 50px;
margin-top: 50px;
 }

 .h2generos{

font-size: 30px;
 }

 .divgeneros{
    display: flex;
flex-direction: row;
justify-content: space-between;
 }

.itemgeneros{

    background-color: rgb(81, 159, 237);
}

.h5pelis{

    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: -15px;
    
}

article{

    margin-left: 20px;
}