body{
    background-color: rgb(153, 153, 226);

}



.imglogo{
    height: 100x;
    width: 100px;
}

.buscador{
    margin-top: 35px;
}


.barra{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-top: 35px;
}

a {
    
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li{

    margin-right: 20px;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color:gray;
    border-radius: 15px 15px 15px 15px;
}

section{

    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(226, 255, 120);
    border-radius: 15px 15px 15

}


.titulo-section{

    font-family: Georgia, 'Times New Roman', Times, serif;
}


