body{
    background-color: rgb(0, 0, 0);
    height: 200%;
}

.imglogo{
    height: 100px;
    width: 100px;
}

.buscador{
    margin-top: 35px;
}

.form{

font-size: 20px;
}

.barra{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-top: 35px;
}

a {
    
    color: #ffebeb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

li{
    margin-right: 20px;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color:rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.padre{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    text-align: left;
    flex-direction: column;
    margin-bottom: 120px;
}



.img{
    height: 350px;
    width: 100%;
}

.titulo-section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    margin-left: 600px;
    justify-content: flex-start;
}

.hijo1{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
}

.padreitems{

    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.hijo2{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
    
}

.hijo3{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px 15px 15px 15px;
    
}

.item{
    background-color: rgb(0, 0, 0);

}

.titulopelicula {

font-size: 25px;
margin-left: 35px;

}

.fechapelicula{
    color: rgb(255, 237, 237);
    font-size: 25px;
    margin-left: 35px;
}
